name: Lint job
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run lint
        run: npm run lint
